# All Python caches
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.coverage
.cache/

# Environments
venv/
.venv/
env/
.env
backend/.env
frontend/.env

# Databases
*.db
*.sqlite3

# Frontend dependencies
node_modules/
dist/
.eslintcache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
