fastapi
uvicorn[standard]
python-multipart
pydantic[email]
email-validator
groq
sentence-transformers
scikit-learn
torch
spacy
language-tool-python
pdfplumber
openai-whisper
python-dotenv
beanie
pymongo[srv]
passlib[bcrypt]
python-jose[cryptography]